*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*commons*/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.box{
    width: 80%;
    margin: 0 auto;
}

.btn{
    border-radius: 20px;
    padding: 11px 21px;
}

.bianco{
    background-color: white;
    color: black;
}

.nero{
    background-color: black;
    color: white;
}
/*header*/
header {
    background-color: #3161e0;
    height: 90px;
    font-size: 18px;
}

li{
    display: inline-block;
}

.logo{
    height: 90px;
    line-height: 90px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 19%;
}
.posizione{
    position: relative;
    float: right;
    width: 76%;
    height: 90px;
}
.menu{
    display: inline-block;
    position:absolute;
    left: 0px;
    top: 37%;
}
header .btn{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 30%;
    /* background-color: white; */
    
}
nav ul li {
    margin: 0px 35px;
    color: white;
    
}

/*jumbooooo*/
.jumbo-container{
    /* background-color: teal; test sfondo */
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}
.jumbotron{
    position: relative;
}
.jumbotron .btn{
    display: inline-block;
 
    font-size: 20px;

}

.jumbotron .testo{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.jumbotron h1{
    font-size: 45px;
}
.jumbotron p{
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 20px;
}
.testo p,h1{
    color:white;
}
.btn-box{
    text-align: center;
}
.jumbotron .btn.bianco{
    margin-left: 7%;
}
.jumbotron .btn.bianco i{
    margin-right: 10px;
}

.jumbotron .btn.nero{
    margin-left: 10%;
}

/*debug*/
header {
    border: 1px solid black;

}
.pagina.debug{
    background-color: blue;

    /* height: 800px;  */
    /* width: 600px; */
}

.jumbotron.debug{
    height: 580px;
    border: 3px solid brown;
    /* background-color: brown; */

}

.sezione1.debug{
    height: 400px;
    background-color: green;
    border: 1px solid red;

}

.sezione2.debug{
    height: 400px;
    background-color: green;
    border: 1px solid red;

}

.sezione3.debug{
    height: 400px;
    background-color: green;
    border: 1px solid red;

}

footer.debug{
    height: 300px;
    background-color: black;
    border:1px solid grey;
}