*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*commons*/
.clearfix::after{
    content: " ";
    display: table;
    clear: both;
}
.box{
    width: 80%;
    margin: 0 auto;
}

.btn{
    border-radius: 20px;
    padding: 11px 21px;
}

.bianco{
    background-color: white;
    color: black;
}

.nero{
    background-color: black;
    color: white;
}


/*body*/
body{
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
header {
    background-color: #3161e0;
    height: 90px;
    font-size: 18px;
}

li{
    display: inline-block;
}

.logo{
    height: 90px;
    line-height: 90px;
    padding-top: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 19%;
}
.posizione{
    position: relative;
    float: right;
    width: 76%;
    height: 90px;
}
.menu{
    display: inline-block;
    position:absolute;
    left: 0px;
    top: 37%;
}
header .btn{
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 30%;
    /* background-color: white; */
}
nav ul li {
    margin: 0px 35px;
    color: white;
    
}

/*jumbooooo*/
.jumbo-container{
    /* background-color: teal; test sfondo */
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}
.jumbotron{
    position: relative;
    min-height: 580px;

}
.jumbotron .btn{
    display: inline-block;
    font-size: 20px;
}

.jumbotron .testo{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.jumbotron h1{
    font-size: 45px;
}
.jumbotron p{
    font-size: 21px;
    margin-top: 25px;
    margin-bottom: 20px;
    line-height: 1.4;
}

.testo p,h1{
    color:white;
}


/* spaziatura bottoni   */
.btn-box{
    /* text-align: center; */
    width: 75%;
    margin: 0 auto;
}  

/*spaziatura con position */
/* .btn-box{
    width: 100%;
    position: relative;
} */

/*spaziatura tra freccia e testo*/
.jumbotron .btn.bianco i{ 
    margin-right: 10px;
}



.jumbotron .btn.bianco{ 
    /* position: absolute;
    left: 0px; */
    /* float: left; */
    margin-top: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

.jumbotron .btn.nero{
    /* margin-left: 10%; */
    /* position: absolute;
    right: 0px; */
    /* float: left; */
    margin-top: 24px;
}



/*test wave*/

svg{
    display: block;
    /* background-color: green; */

}



/*debug*/

.jumbotron.debug{
    border: 3px solid brown;
    /* background-color: brown; */

}

.sezione1.debug{
    height: 400px;
    background-color: green;
    border: 1px solid red;

}

.sezione2.debug{
    height: 400px;
    /* background-color: green; */
    background-color: #0099ff; /*test svg*/
    border: 1px solid red;

}
#wave2{
    /* background-color: #0099ff; */
}

.sezione3.debug{
    height: 400px;
    background-color: green;
    border: 1px solid red;

}

footer.debug{
    height: 300px;
    background-color: black;
    border:1px solid grey;
}